.App {
  text-align: center;
  color: white;
  padding: 30px;
}
.select-title{
  background-color: aquamarine;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
select{
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  padding-left: 10px;
}